body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

img {
    max-width: 200px;
    border-radius: 8px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
